<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">About CouchMusic v1.0</h4>
    </div>
    <div class="modal-body">
        <p>This application was created by <a href="https://www.linkedin.com/in/tonypiazza" target="_blank">Tony
            Piazza</a> with help
            from <a href="http://www.linkedin.com/in/couchbasetraining" target="_blank">Laurent Weichberger</a> in
            December 2014 as part
            of the Couchbase course CD225.</p>

        <p>Contact <a href="http://training.couchbase.com/" target="_blank">Couchbase
            Learning Services</a> for more information about this and other courses.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">OK</button>
    </div>
</div>
