/* app css stylesheet */
body {
    font-size: 14px;
}
body{
    background: #BFD8DC;
}
/*.sorting,.sorting_desc, .sorting_asc, .sorting_disabled {*/
    /*background-color: #F0EFEA !important;*/
/*}*/
/*.tracks_not_sort {*/
    /*background-image: none !important;*/
    /*text-align: center;*/
    /*width: 41px;*/
/*}*/
.sorting_disabled {
    background-image: none !important;
}
.modal-backdrop {
    width: 100%;
    height: 100%;
}
.jp-jplayer {
    display: none;
}

.playlist-container {
    width: 800px;
    margin: auto;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px !important;
        margin: 30px auto !important;
    }
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #DBDADA;
}