footer {
	font-size: 85%;
}

#homestats {
	width: 1024px;
	background-color: #000000;
	color: #f0efea;
	margin-left: auto;
	margin-right: auto;
}

#homestats td {
	text-align: center;
	padding: 5px;
}

#playlists-table {
	background-color: #f0efea;
	border: solid 1px;
}
#playlists-table td {
    background-color: #f0efea;
}
#playlists-table_length {
	text-align: left;
}

#couchbase-contact {
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-size: 135%;
}

#couchbase-logo {
	width: 15%;
}

#panel-row {
  margin-top: 50px;
}

#tracks-table {
	background-color: #f0efea;
	border: solid 1px;
}

#tracks-table_length {
	text-align: left;
}

#track-search {
	margin-top: 50px;
	width: 100%;
	border: solid 1px;
	background-color: #f0efea;
}

#track-search tr td {
	padding: 10px;
}

#user-search {
	margin-top: 50px;
	width: 100%;
	border: solid 1px;
	background-color: #f0efea;
}

#user-search tr td {
	padding: 10px;
}

#users-table {
	background-color: #f0efea;
	border: solid 1px;
}

#users-table_length {
	text-align: left;
}

#genre {
	width: 100%;
}

.skinny-col {
	width: 3%;
}

.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
}

.valign-top {
	vertical-align: top;
}

.valign-bottom {
	vertical-align: bottom;
}

.std-field-width {
	width: 100%;
}
