<div ng-controller="PlayerCtrl">
    <div class="modal-content">
        <div class="modal-header">
            <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title">{{ title }}</h3>
        </div>
        <div class="modal-body">
            <div j-player tracks="tracks"></div>
        </div>
    </div>

    <!--<div class="modal-footer">-->
    <!---->
    <!--</div>-->
</div>