<h1 style="text-align: center; font-weight: normal; font-size: 20px">
    Playlists for {{ user.fullName }} ({{ user.name }})
</h1>
<div class="playlist-container" ng-controller="PlayListCtrl">
    <table class="table table-bordered" id="playlists-table"  datatable="" dt-options="dtOptions" dt-columns="dtColumns"></table>
</div>
